@CHARSET "UTF-8";

.ntf-empty {padding:5px; color:#999; text-align:center}

table.olt,
table.olt tr.pl,
table.olt tr.pl td {position:relative}

.ntf-oprts {display:none; position:absolute; bottom:0; right:0; z-index:2; background:#eee}
tr.pl:hover .ntf-oprts {display:block}
  /*tr.pl .ntf-oprts:hover {background:#eee; color:#333}*/
  
  .ntf-oprts a {padding:3px 10px}
  .ntf-oprts .ntf-hide,
  .ntf-oprts .ntf-enter {display:none}
  tr.pl.on .ntf-oprts {display:block}
  tr.pl.on .ntf-preview {display:none}
  tr.pl.on .ntf-hide,
  tr.pl.on .ntf-enter {display:inline}
  
  tr.ntf-preview {display:none; background:#eee}
    
  
.zbar .on {background:#fff; margin:3px 0 0; padding:5px 10px 3px}
  .zbar .on:hover {color:#666}  
  
.ntf-groupLi .hd {padding:0 10px; height:30px; line-height:30px;}
  .ntf-groupLi .hd:hover {background:#ddd; cursor:pointer}
  .ntf-groupLi .hd a {float:right; padding:0 20px}
  
.ntf-groupLi .bd {display:none; padding:10px}

.ntf-groupLi.on {background:#eee}