@CHARSET "UTF-8";

.c {clear:both}

/* for better ux when expanding topic or group member list */
#content {padding-bottom:400px}

.n-empty {padding:5px; color:#999; text-align:center}

table.olt,
table.olt tr.pl,
table.olt tr.pl td {position:relative}

.n-oprts {display:none; position:absolute; bottom:0; right:0;
  z-index:2; background:#F1F1F1}
tr.pl:hover .n-oprts {display:block}

  .n-oprts a {padding:3px 10px}
  .n-oprts .n-hide,
  .n-oprts .n-enter {display:none}

  tr.pl.n-cur {background:#F1F1F1}
  tr.pl.n-on td {border-bottom:none}

  tr.pl.n-on .n-oprts {display:block}
  tr.pl.n-on .n-preview {display:none}
  tr.pl.n-on .n-hide,
  tr.pl.n-on .n-enter {display:inline}

  tr.n-preview {display:none;}
  
  .topic-reply .n-sp a {display:block; height:24px; line-height:24px; 
    background:#eee; color:#999; text-align:center}
    
  .topic-reply .n-sp a:hover {color:#666}

.zbar .n-on {background:#fff; margin:3px 0 0; padding:5px 10px 3px}
  .zbar .n-on:hover {color:#666}

.n-groupLi {padding-bottom:20px}
  .n-groupLi.n-on {padding-bottom:0}
  .n-groupLi.n-cur {background:#eee}
  .n-groupLi.n-empty {padding:0}

.n-groupLi .hd {border-top:1px dashed #ddd; padding-top:5px}
  .n-groupLi.n-empty .hd {padding-top:0}
  .n-groupLi .hd a {display:inline-block; padding:0 20px;
    height:30px; line-height:30px}

  .n-groupLi .n-subject {float:left}

  .n-groupLi .n-toggle {float:right}
    .n-groupLi.n-empty .n-toggle {display:none}
    .n-groupLi .n-toggle a {width:50px; padding:0; text-align:center}

  .n-groupLi .n-collapse {display:none !important}
  .n-groupLi.n-on .n-collapse {display:inline-block !important}
  .n-groupLi.n-on .n-expand {display:none !important}

.n-newMembers {padding:10px 28px 0}
  .n-groupLi.n-empty .n-newMembers {padding:0}

.n-groupLi .bd {display:none; padding:20px}

.n-switches {margin-bottom:20px}
.n-switches:after {clear:both}

.n-switches .on a.on {display:none}
.n-switches .on span.on {display:inline; font-weight:bold}
.n-switches .on a.off {display:inline}
.n-switches .on span.off {display:none}

.n-switches span.on {display:none}
.n-switches a.off {display:none}
.n-switches span.off {font-weight:bold}



.n-box {box-shadow:0px 5px 15px rgba(0, 0, 0, 0.2); margin:0 -30px;
  border:1px #ccc solid; border-radius:4px; background:#fff}

.olt .n-preview td {padding:0}
.n-preview .n-ctn {padding:15px 45px 25px 15px}